<script src="@Url.Content( "~/Scripts/_MembersOnlyMenu.js" )" type="text/javascript"></script>
<table cellspacing="3" cellpadding="0">
    <tr>
        <td>
            <a href="/Home/Index" onmouseover="ActiveOverImage('btn_home')" onmouseout="InActiveImage('btn_home')">
                <img style="height: 24px; width: 139px; border-width: 0px" alt="Home" src="/images/buttons/btn_home.gif"
                    name="btn_home" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Index", "MembersOnly" )" onmouseover="ActiveOverImage('btn_memberonlyhome')"
                onmouseout="InActiveImage('btn_memberonlyhome')">
                <img style="height: 24px; width: 139px; border-width: 0px" alt="Members Only Home"
                    src="/images/buttons/btn_memberonlyhome.gif" name="btn_memberonlyhome" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "List", "Roster" )" onmouseover="ActiveOverImage('btn_roster')" onmouseout="InActiveImage('btn_roster')">
                <img style="height: 24px; width: 139px; border-width: 0px" alt="Roster" src="/images/buttons/btn_roster.gif"
                    name="btn_roster" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Index", "Newsletter" )" onmouseover="ActiveOverImage('btn_newsletter')" onmouseout="InActiveImage('btn_newsletter')">
                <img style="height: 24px; width: 139px; border-width: 0px" alt="Newsletter" src="/images/buttons/btn_newsletter.gif"
                    name="btn_newsletter" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Constitution", "MembersOnly" )" onmouseover="ActiveOverImage('btn_constitution')"
                onmouseout="InActiveImage('btn_constitution')" target="_blank">
                <img style="height: 24px; width: 139px; border-width: 0px" alt="Constitution" src="/images/buttons/btn_constitution.gif"
                    name="btn_constitution" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "ChangePassword", "MembersOnly" )" onmouseover="ActiveOverImage('btn_changepassword')"
                onmouseout="InActiveImage('btn_changepassword')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_changepassword.gif"
                    alt="Change Password" name="btn_changepassword" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Edit", "Membership" )" onmouseover="ActiveOverImage('btn_editmembership')" onmouseout="InActiveImage('btn_editmembership')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_editmembership.gif"
                    alt="Edit Membership Information" name="btn_editmembership" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "List", "Ad" )" onmouseover="ActiveOverImage('btn_classifieds')" onmouseout="InActiveImage('btn_classifieds')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_classifieds.gif"
                    alt="Edit Classifieds" name="btn_classifieds" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Upload", "Photo" )" onmouseover="ActiveOverImage('btn_uploadphotos')" onmouseout="InActiveImage('btn_uploadphotos')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_uploadphotos.gif"
                    alt="Upload Photos" name="btn_uploadphotos" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Index", "Board" )" onmouseover="ActiveOverImage('btn_boardonly')" onmouseout="InActiveImage('btn_boardonly')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_boardonly.gif"
                    alt="Administration" name="btn_boardonly" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action( "Logout", "MembersOnly" )" onmouseover="ActiveOverImage('btn_logout')" onmouseout="InActiveImage('btn_logout')">
                <img style="height: 24px; width: 139px; border-width: 0px" src="/images/buttons/btn_logout.gif"
                    alt="Logout" name="btn_logout" /></a>
        </td>
    </tr>
</table>
<a target="_blank" href="http://www.mazdausa.com">
    <img src="/images/vendors/mazdalogo.gif" height="31" width="139" border="0" alt="Mazda Logo" /></a>
<a target="_blank" href="http://www.facebook.com/#!/pages/Mt-Hood-Miata-Club/129216476653">
    <img src="/images/SocialMedia/facebook-32.png" border="0" alt="Visit Us on Facebook" /></a><a
        target="_blank" href="http://www.google.com/profiles/mthoodmiata"><img src="/images/SocialMedia/google-32.png"
            border="0" alt="See Our Google Profile" /></a><a target="_blank" href="http://groups.google.com/group/mthoodmiataclub"><img
                src="/images/SocialMedia/google-groups-32.png" border="0" alt="Visit Our Google Group" /></a>