@model ChangePasswordViewModel
@{
    ViewBag.Menu = "_MembersOnlyMenu";
    ViewBag.Title = "MHMC: Change Password";
}
@using( Html.BeginForm() )
{ 
    @Html.ValidationSummary()

    if( Model.IsChangeForced )
    { 
        <p>
            As a security measure you must change your password before continuing.</p>
        <p class="attention">
            We strongly recommend using a password that is unique to this site as all board
            members have access to your password.</p>
    }
    <table cellspacing="1" cellpadding="2">
        <tr>
            <td valign="top">
                @Html.LabelFor( model => model.OldPassword, "Old Password:" )
            </td>
            <td>
                @Html.PasswordFor( model => model.OldPassword )
            </td>
        </tr>
        <tr>
            <td valign="top">
                @Html.LabelFor( model => model.NewPassword, "New Password:" )
            </td>
            <td>
                @Html.PasswordFor( model => model.NewPassword )
            </td>
        </tr>
        <tr>
            <td valign="top">
                @Html.LabelFor( model => model.NewPasswordConfirm, "Confirm New Password:" )
            </td>
            <td>
                @Html.PasswordFor( model => model.NewPasswordConfirm )
            </td>
        </tr>
    </table>
    <button type="submit">
        Change Password</button>
    <button type="button" onclick="window.location.href='/Home/Index'">
        Cancel</button>
    <br />
@*                <asp:comparevalidator id="vldCompareNewPassword" runat="server" errormessage="New passwords do not match"
                    controltovalidate="txtNewPassword" controltocompare="txtNewPasswordConfirm" display="Dynamic"></asp:comparevalidator>
*@
}
